Back/back.json
[
    {
        "id": "1deb4fabbd8a83ed",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d25854f463254281",
        "type": "pythonshell in",
        "z": "1deb4fabbd8a83ed",
        "name": "",
        "pyfile": "S:\\Users\\19.00671-3\\Documents\\Streamdeck\\openurl.py",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 640,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "595340a7c946a949",
        "type": "pythonshell in",
        "z": "1deb4fabbd8a83ed",
        "name": "",
        "pyfile": "S:\\Users\\19.00671-3\\Documents\\Streamdeck\\textinput.py",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 620,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "14e9403099e0aaa0",
        "type": "pythonshell in",
        "z": "1deb4fabbd8a83ed",
        "name": "",
        "pyfile": "S:\\Users\\19.00671-3\\Documents\\Streamdeck\\openapp.py",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 640,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "31ec3e607a0905d4",
        "type": "pythonshell in",
        "z": "1deb4fabbd8a83ed",
        "name": "",
        "pyfile": "S:\\Users\\19.00671-3\\Documents\\Streamdeck\\wind.py",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 640,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "61dd2b0d6191561b",
        "type": "pythonshell in",
        "z": "1deb4fabbd8a83ed",
        "name": "",
        "pyfile": "S:\\Users\\19.00671-3\\Documents\\Streamdeck\\print.py",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 640,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "8e2de087b0773043",
        "type": "rbe",
        "z": "1deb4fabbd8a83ed",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 410,
        "y": 400,
        "wires": [
            [
                "31ec3e607a0905d4"
            ]
        ]
    },
    {
        "id": "5c3b2b7f3ce13060",
        "type": "rbe",
        "z": "1deb4fabbd8a83ed",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 410,
        "y": 500,
        "wires": [
            [
                "61dd2b0d6191561b"
            ]
        ]
    },
    {
        "id": "5de04e4667aff98a",
        "type": "rbe",
        "z": "1deb4fabbd8a83ed",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 430,
        "y": 140,
        "wires": [
            [
                "d25854f463254281"
            ]
        ]
    },
    {
        "id": "751ac3cf5ee51f89",
        "type": "rbe",
        "z": "1deb4fabbd8a83ed",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 430,
        "y": 240,
        "wires": [
            [
                "595340a7c946a949"
            ]
        ]
    },
    {
        "id": "679d33e33f273285",
        "type": "rbe",
        "z": "1deb4fabbd8a83ed",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 430,
        "y": 320,
        "wires": [
            [
                "14e9403099e0aaa0"
            ]
        ]
    },
    {
        "id": "ea913e191cf2b222",
        "type": "ubidots_in",
        "z": "1deb4fabbd8a83ed",
        "tier": "business",
        "name": "Print",
        "token": "BBFF-tZiuAprzo3JQgMVmpMlOItVodDGYQw",
        "device_label": "streamdeck",
        "tls_checkbox_in": true,
        "custom_topic_checkbox": false,
        "label_variable_1": "botao_print",
        "label_variable_2": "",
        "label_variable_3": "",
        "label_variable_4": "",
        "label_variable_5": "",
        "label_variable_6": "",
        "label_variable_7": "",
        "label_variable_8": "",
        "label_variable_9": "",
        "label_variable_10": "",
        "checkbox_variable_1_last_value": true,
        "checkbox_variable_2_last_value": true,
        "checkbox_variable_3_last_value": true,
        "checkbox_variable_4_last_value": true,
        "checkbox_variable_5_last_value": true,
        "checkbox_variable_6_last_value": true,
        "checkbox_variable_7_last_value": true,
        "checkbox_variable_8_last_value": true,
        "checkbox_variable_9_last_value": true,
        "checkbox_variable_10_last_value": true,
        "x": 230,
        "y": 500,
        "wires": [
            [
                "5c3b2b7f3ce13060"
            ]
        ]
    },
    {
        "id": "27a1f5cfada11bd9",
        "type": "ubidots_in",
        "z": "1deb4fabbd8a83ed",
        "tier": "business",
        "name": "Win+d",
        "token": "BBFF-tZiuAprzo3JQgMVmpMlOItVodDGYQw",
        "device_label": "streamdeck",
        "tls_checkbox_in": true,
        "custom_topic_checkbox": false,
        "label_variable_1": "botao_wind",
        "label_variable_2": "",
        "label_variable_3": "",
        "label_variable_4": "",
        "label_variable_5": "",
        "label_variable_6": "",
        "label_variable_7": "",
        "label_variable_8": "",
        "label_variable_9": "",
        "label_variable_10": "",
        "checkbox_variable_1_last_value": true,
        "checkbox_variable_2_last_value": true,
        "checkbox_variable_3_last_value": true,
        "checkbox_variable_4_last_value": true,
        "checkbox_variable_5_last_value": true,
        "checkbox_variable_6_last_value": true,
        "checkbox_variable_7_last_value": true,
        "checkbox_variable_8_last_value": true,
        "checkbox_variable_9_last_value": true,
        "checkbox_variable_10_last_value": true,
        "x": 230,
        "y": 400,
        "wires": [
            [
                "8e2de087b0773043"
            ]
        ]
    },
    {
        "id": "1167ab1214616ebb",
        "type": "ubidots_in",
        "z": "1deb4fabbd8a83ed",
        "tier": "business",
        "name": "Open google",
        "token": "BBFF-tZiuAprzo3JQgMVmpMlOItVodDGYQw",
        "device_label": "streamdeck",
        "tls_checkbox_in": true,
        "custom_topic_checkbox": false,
        "label_variable_1": "url",
        "label_variable_2": "",
        "label_variable_3": "",
        "label_variable_4": "",
        "label_variable_5": "",
        "label_variable_6": "",
        "label_variable_7": "",
        "label_variable_8": "",
        "label_variable_9": "",
        "label_variable_10": "",
        "checkbox_variable_1_last_value": true,
        "checkbox_variable_2_last_value": true,
        "checkbox_variable_3_last_value": true,
        "checkbox_variable_4_last_value": true,
        "checkbox_variable_5_last_value": true,
        "checkbox_variable_6_last_value": true,
        "checkbox_variable_7_last_value": true,
        "checkbox_variable_8_last_value": true,
        "checkbox_variable_9_last_value": true,
        "checkbox_variable_10_last_value": true,
        "x": 250,
        "y": 140,
        "wires": [
            [
                "5de04e4667aff98a"
            ]
        ]
    },
    {
        "id": "ac6a5cddfc8fa5ac",
        "type": "ubidots_in",
        "z": "1deb4fabbd8a83ed",
        "tier": "business",
        "name": "Input text",
        "token": "BBFF-tZiuAprzo3JQgMVmpMlOItVodDGYQw",
        "device_label": "streamdeck",
        "tls_checkbox_in": true,
        "custom_topic_checkbox": false,
        "label_variable_1": "text",
        "label_variable_2": "",
        "label_variable_3": "",
        "label_variable_4": "",
        "label_variable_5": "",
        "label_variable_6": "",
        "label_variable_7": "",
        "label_variable_8": "",
        "label_variable_9": "",
        "label_variable_10": "",
        "checkbox_variable_1_last_value": true,
        "checkbox_variable_2_last_value": true,
        "checkbox_variable_3_last_value": true,
        "checkbox_variable_4_last_value": true,
        "checkbox_variable_5_last_value": true,
        "checkbox_variable_6_last_value": true,
        "checkbox_variable_7_last_value": true,
        "checkbox_variable_8_last_value": true,
        "checkbox_variable_9_last_value": true,
        "checkbox_variable_10_last_value": true,
        "x": 240,
        "y": 240,
        "wires": [
            [
                "751ac3cf5ee51f89"
            ]
        ]
    },
    {
        "id": "69652963be614744",
        "type": "ubidots_in",
        "z": "1deb4fabbd8a83ed",
        "tier": "business",
        "name": "Open Firefox",
        "token": "BBFF-tZiuAprzo3JQgMVmpMlOItVodDGYQw",
        "device_label": "streamdeck",
        "tls_checkbox_in": true,
        "custom_topic_checkbox": false,
        "label_variable_1": "appdirectory",
        "label_variable_2": "",
        "label_variable_3": "",
        "label_variable_4": "",
        "label_variable_5": "",
        "label_variable_6": "",
        "label_variable_7": "",
        "label_variable_8": "",
        "label_variable_9": "",
        "label_variable_10": "",
        "checkbox_variable_1_last_value": true,
        "checkbox_variable_2_last_value": true,
        "checkbox_variable_3_last_value": true,
        "checkbox_variable_4_last_value": true,
        "checkbox_variable_5_last_value": true,
        "checkbox_variable_6_last_value": true,
        "checkbox_variable_7_last_value": true,
        "checkbox_variable_8_last_value": true,
        "checkbox_variable_9_last_value": true,
        "checkbox_variable_10_last_value": true,
        "x": 250,
        "y": 320,
        "wires": [
            [
                "679d33e33f273285"
            ]
        ]
    }
]
